###############################################################################
# Start of default configs
###############################################################################

  #####################################
  # Container base defaults
  #####################################
  # Max Usage Limits
x-limits: &limits
  mem_limit: ${MEM_LIMIT:-2G} # Override per container if necessary
  memswap_limit: ${MEM_SWAP_LIMIT:-2.5G}
  mem_reservation: ${MEM_RESERVATION:-64M}
  pids_limit: ${PIDS_LIMIT:-200}
  cpus: ${CPUS_LIMIT:-2} # Set below the total number of cores, for example 3.5 for 4 cores

  # Restart Settings
x-restart: &restart
  stop_grace_period: ${RESTART_GRACE:-1m}
  restart: ${RESTART_MODE:-unless-stopped}

  # Configure security
x-security: &security
  security_opt:
   - no-new-privileges=${NO_NEW_PRIVILEGES:-true}

  # Configure User
x-user: &user
  user: ${PUID:-1000}:${PGID:-1000}

  # Configure Logging
x-logging: &logging
  logging:
    options:
      max-size: ${LOG_MAX_SIZE:-10m}
      max-file: ${LOG_MAX_FILE:-3}

  ## All base defaults in one
x-base: &default-base
  <<: [*limits, *restart, *security, *user, *logging]

  #####################################
  # Container healthcheck defaults
  #####################################
x-healthcheck: &default_healthcheck
  interval: ${HEALTH_INTERVAL:-60s}
  timeout: ${HEALTH_TIMEOUT:-10s}
  retries: ${HEALTH_RETRIES:-5}
  start_period: ${HEALTH_START:-10s}
  
  #####################################
  # Container environment defaults
  #####################################
x-environment-tz: &environment_tz
  TZ: ${TZ:-America/Chicago}

x-environment-user: &environment_user
  PUID: ${PUID:-1000}
  PGID: ${PGID:-1000}

  ## All environment defaults in one
x-environment: &default_environment
  <<: [*environment_tz, *environment_user]

###############################################################################
# Start of stack config
###############################################################################
# Project Name
name: ${PROJECT_NAME}

networks:
  proxy:
    name: ${PROXY_NETWORK}
    internal: true
  frontend:
    name: ${PROJECT_NAME}_frontend
    internal: false
    driver_opts:
      encrypted: "true"
  backend:
    name: ${PROJECT_NAME}_backend
    internal: true
    driver_opts:
      encrypted: "true"
  socket_proxy:
    name: ${PROJECT_NAME}_socket_proxy
    internal: true
    driver_opts:
      encrypted: "true"

services:
  traefik:
    <<: [*limits, *restart, *security, *user, *logging]
    image: traefik:${TRAEFIK_VERSION:-latest}
    hostname: ${PROJECT_NAME}.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}  
    container_name: ${PROJECT_NAME}
    command:
      ################################################################
      # Global configuration
      ################################################################
      - --global.checknewversion=true
      - --global.sendanonymoususage=false

      ################################################################
      # Logs
      ################################################################
      - --log.level=INFO
      - --log.format=json
      - --accesslog.format=json
      - --accesslog.addinternals=false
      - --accesslog.filepath=/etc/traefik/log/access.log
      #- --accesslog.bufferingsize=10
      - --accesslog.fields.defaultmode=keep
      - --accesslog.fields.headers.defaultmode=keep
      - --accesslog.fields.headers.names.Cookie=redact
      - --accesslog.fields.headers.names.Set-Cookie=redact
      - --accesslog.fields.headers.names.Authorization=drop

      ################################################################
      # Metrics
      ################################################################
      - --metrics.prometheus.addrouterslabels=true
      - --metrics.prometheus.buckets=0.1,0.3,1.2,5.0
      - --metrics.prometheus.headerlabels.useragent=User-Agent

      ################################################################
      # API and Dashboard
      ################################################################
      - --api.dashboard=true

      ################################################################
      # Entrypoints
      ################################################################
      # HTTP -> HTTPS Redirect
      - --entrypoints.http.address=:80
      - --entrypoints.http.http.redirections.entrypoint.to=https
      - --entrypoints.http.http.redirections.entrypoint.scheme=https
        # Trusted IPs (Cloudflare + Local)
      - --entrypoints.http.forwardedheaders.trustedips=
          173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22,
          127.0.0.1/32,10.0.0.0/8,192.168.0.0/16,172.16.0.0/12
          # Middlewares
      - --entrypoints.http.http.middlewares=
          middlewares-bouncer@file,
          middlewares-rate-limit@file,
          middlewares-secure-headers@file

      # HTTPS
      - --entrypoints.https.address=:443
      - --entrypoints.https.asdefault=true
      - --entrypoints.https.http.tls.options=tls-opts@file
      #- --entrypoints.https.http.tls.certresolver=letsencrypt
      #- --entrypoints.https.http.tls.domains[0].main=${DOMAIN_NAME}
      #- --entrypoints.https.http.tls.domains[0].sans=*.${DOMAIN_NAME},*.${SUB_DOMAIN_NAME}${DOMAIN_NAME},*.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}
        # Trusted IPs (Cloudflare + Local)
      - --entrypoints.https.forwardedheaders.trustedips=
          173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22,
          127.0.0.1/32,10.0.0.0/8,192.168.0.0/16,172.16.0.0/12
          # Middlewares
      - --entrypoints.https.http.middlewares=
          middlewares-bouncer@file,
          middlewares-rate-limit@file,
          middlewares-secure-headers@file,
          middlewares-compress@file

      # Dashboard
      - --entrypoints.dashboard.address=:8443
      #- --entrypoints.dashboard.http.tls.options=tls-opts@file
      - --entrypoints.dashboard.http.tls.certresolver=letsencrypt
      - --entrypoints.dashboard.http.tls.domains[0].main=${DOMAIN_NAME}
      - --entrypoints.dashboard.http.tls.domains[0].sans=*.${DOMAIN_NAME},*.${SUB_DOMAIN_NAME}${DOMAIN_NAME},*.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}
          # Trusted IPs (Local)
      - --entrypoints.https.forwardedheaders.trustedips=
          127.0.0.1/32,10.0.0.0/8,192.168.0.0/16,172.16.0.0/12

      ################################################################
      # Healthcheck / Ping
      ################################################################
      - --ping=true

      ################################################################
      # Transports
      ################################################################
      - --serversTransport.insecureSkipVerify=true

      ################################################################
      # Providers
      ################################################################
      # Configuration reload frequency
      - --providers.providersthrottleduration=2s
 
      # Folder with dynamic configuration
      - --providers.file.directory=/etc/traefik/rules
      - --providers.file.watch=true
      
      # Docker provider for connecting all apps that are inside of the docker network
      - --providers.docker.watch=true
      - --providers.docker.network=proxy
      - --providers.docker.exposedbydefault=false
      - --providers.docker.endpoint=tcp://traefik-socket-proxy:2375

      # Docker Redis provider for storing proxy labels from traefik-kop hosts
      #- --providers.redis.endpoints=redis:6379

      ################################################################
      # Plugins
      ################################################################
      - --experimental.plugins.bouncer.modulename=github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      #- --experimental.plugins.bouncer.version=v1.4.6
      - --experimental.plugins.bouncer.version=v1.5.0

      ################################################################
      # Certificates Resolvers (ACME)
      ################################################################
      - --certificatesresolvers.letsencrypt.acme.storage=/etc/traefik/certs/acme.json
      # Uncomment the following line to use LetsEncrypt Staging
      #- --certificatesresolvers.letsencrypt.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.delaybeforecheck=10
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53

      ################################################################
      # Extra Commands from Env Vars
      ################################################################
      - ${TRAEFIK_EXTRA_COMMAND:-""}
    ports:
      - "80:80"
      - "443:443"
      - "8443:8443"
    environment:
      <<: [*environment_tz, *environment_user]
      CF_API_EMAIL: ${CF_API_EMAIL}
      CF_DNS_API_TOKEN: ${CF_DNS_API_TOKEN}
      LE_EMAIL: letsencrypt@${SUB_DOMAIN_NAME}${DOMAIN_NAME}  
      DOMAIN_NAME: ${DOMAIN_NAME}
      CROWDSEC_LAPI_KEY: ${CROWDSEC_LAPI_KEY}
      CROWDSEC_LAPI_HOST: ${CROWDSEC_LAPI_HOST}
    volumes:
      - "./traefik-config/rules:/etc/traefik/rules/"
      - "${DOCKER_VOLUMES}/${PROJECT_NAME}/traefik-logs:/etc/traefik/log/"
      - "${DOCKER_VOLUMES}/${PROJECT_NAME}/traefik-plugins:/plugins-storage/"
      - "${DOCKER_VOLUMES}/${PROJECT_NAME}/cert-data:/etc/traefik/certs/"
    labels: ## Traefik Labels
      - "traefik.enable=true"

      ## Traefik Dashboard
      - "traefik.http.routers.traefik.rule=
        Host(`${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${PROJECT_NAME}.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`)"
      - "traefik.http.routers.traefik.entrypoints=dashboard"  # Defined in traefik.yaml
      - "traefik.http.routers.traefik.service=api@internal"

      ## Default TLS Cert
      - "traefik.tls.stores.default.defaultGeneratedCert.resolver=letsencrypt"
      - "traefik.tls.stores.default.defaultGeneratedCert.domain.main=$DOMAIN_NAME"
      - "traefik.tls.stores.default.defaultGeneratedCert.domain.sans=*.$DOMAIN_NAME,*.$SUB_DOMAIN_NAME$DOMAIN_NAME,*.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}"

      ## Komodo Labels
      - "komodo.skip" # Prevent Komodo from stopping with StopAllContainers
    networks:
      - proxy
      - frontend
      - backend
      - socket_proxy
    depends_on:
      socket-proxy:
        condition: service_healthy
      error-pages:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "traefik", "healthcheck", "--ping"]
      <<: *default_healthcheck

  error-pages:
    <<: [*limits, *restart, *security, *user, *logging]
    image: tarampampam/error-pages:${ERROR_PAGES_VERSION:-latest}
    hostname: ${PROJECT_NAME}-error-pages.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}
    container_name: ${PROJECT_NAME}-error-pages
    environment:
      <<: [*environment_tz, *environment_user]
      TEMPLATE_NAME: lost-in-space
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik_backend

      # use as default "fallback" for any non-registered services (with priority below normal)
      - traefik.http.routers.error-pages-rtr.rule=HostRegexp(`.+`)
      - traefik.http.routers.error-pages-rtr.priority=10
      - traefik.http.routers.error-pages-rtr.middlewares=middlewares-error-pages

      # "errors" middleware settings
      - traefik.http.middlewares.middlewares-error-pages.errors.status=400-599
      - traefik.http.middlewares.middlewares-error-pages.errors.service=error-pages-svc
      - traefik.http.middlewares.middlewares-error-pages.errors.query=/{status}.html

      # define service properties
      - traefik.http.services.error-pages-svc.loadbalancer.server.port=8080
    networks:
      - backend
    healthcheck:
      #test: ["CMD", "", ""]
      <<: *default_healthcheck

  logrotate:
    <<: [*limits, *restart, *security, *logging]
    image: vegardit/traefik-logrotate:${LOGROTATE_VERSION:-latest}
    hostname: ${PROJECT_NAME}-logrotate.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}
    container_name: ${PROJECT_NAME}-logrotate
    environment:
      <<: [*environment_tz, *environment_user]
      LOGROTATE_LOGS: "/logs/*.log"
      LOGROTATE_TRIGGER_INTERVAL: daily  # rotate daily, must be one of: daily, weekly, monthly, yearly
      LOGROTATE_TRIGGER_SIZE: 100M       # rotate if log file size reaches 50MB
      LOGROTATE_MAX_BACKUPS: 3           # keep 14 backup copies per rotated log file
      LOGROTATE_FILE_MODE: 0644          # file mode of the rotated file
      LOGROTATE_FILE_USER: 1000          # owning user of the rotated file
      LOGROTATE_FILE_GROUP: 1000         # owning group of the rotated file
      CRON_SCHEDULE: "*/5 * * * *"
      CRON_LOG_LEVEL: 4  # see https://unix.stackexchange.com/a/414010/378036
    volumes:
      - "${DOCKER_VOLUMES}/${PROJECT_NAME}/traefik-logs:/logs/"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "logrotate", "--version"]
      <<: *default_healthcheck

  socket-proxy:
    <<: [*limits, *restart, *security, *logging]
    image: lscr.io/linuxserver/socket-proxy:${SOCKET_PROXY_VERSION:-latest}
    hostname: ${PROJECT_NAME}-socket-proxy.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}
    container_name: "${PROJECT_NAME}-socket-proxy"
    environment:
      <<: [*environment_tz, *environment_user]
      ALLOW_START: 0 #optional
      ALLOW_STOP: 0 #optional
      ALLOW_RESTARTS: 0 #optional
      AUTH: 0 #optional
      BUILD: 0 #optional
      COMMIT: 0 #optional
      CONFIGS: 0 #optional
      CONTAINERS: 1 #optional
      DISABLE_IPV6: 0 #optional
      DISTRIBUTION: 0 #optional
      EVENTS: 1 #optional
      EXEC: 0 #optional
      IMAGES: 0 #optional
      INFO: 1 #optional
      LOG_LEVEL: info #optional
      NETWORKS: 1 #optional
      NODES: 1 #optional
      PING: 1 #optional
      PLUGINS: 0 #optional
      POST: 0 #optional
      SECRETS: 0 #optional
      SERVICES: 1 #optional
      SESSION: 0 #optional
      SWARM: 0 #optional
      SYSTEM: 0 #optional
      TASKS: 1 #optional
      VERSION: 1 #optional
      VOLUMES: 0 #optional
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - socket_proxy
    userns_mode: "host"
    read_only: true
    tmpfs:
      - /run
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:2375/version"]
      <<: *default_healthcheck
